body {
  font-family: Lato, sans-serif;
}

.card {
  background: white;
  max-width: 769px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  margin: 0;
}

p {
  margin: 0;
}

.script-option-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.action-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.voice-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 60%;
}

.result-row {
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
  display: none;
}

#sampleButton {
  background: transparent;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  min-width: fit-content;
}

#generateButton {
  background: #f0562e;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

#downloadButton {
  text-decoration: underline;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
}

#voiceoverAudio {
  width: 100%;
}

#voiceSelect {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

#textAreaContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

/* eliminate scroll */
#textArea {
  padding: 1rem;
  border: 1px solid black;
  resize: horizontal;
  min-height: 200px;
  line-height: 1.2rem;
  overflow: hidden;
}

#createButton {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  color: black;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.loading {
  animation: waving 0.9s linear infinite;
}

.disabled {
  pointer-events: none;
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#createButton:hover {
  background: lightgrey;
  color: white;
}

/* media queries for mobile */
@media (max-width: 768px) {
  .card {
    padding: 1rem;
  }

  .action-row {
    flex-wrap: wrap;
  }

  .voice-row {
    width: 100%;
    flex-direction: column;
  }

  .result-row {
    flex-direction: column;
    text-align: center;
  }

  #generateButton {
    width: 100%;
  }

  #voiceOverAudio {
    width: 100%;
  }
}
