body {
  height: 100vh;
}

h2 {
  font-size: 20px;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  gap: 1rem;
  margin: 0 auto;
}

.columns {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.canvas-column {
  width: 70%;
}

.controls-column {
  background: #d3d6d9;
  width: 30%;
  padding: 1rem;
  border-radius: 0 10px 10px 0;
}

#canvasContainer {
  padding: 1rem;
}

#canvas {
  background: url("canvas.png");
  width: 100%;
  height: 100%;
}

.output-img-container {
  display: none;
}

#maskedImage {
  display: none;
}

#expandImageButton {
  background: #f0562e;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
}

#expandImageButton:hover {
  background: #f8b3a1;
  cursor: pointer;
}

#resultImage {
  display: none;
}
